@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  background:linear-gradient(rgb(109, 139, 116) 60%, rgb(255, 255, 255));
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}

h1, h2 {
  font-family: 'poppins', sans-serif;
  font-weight: 300;
  color:#163e3a;
  font-size: 24px;
}

h1{
  font-family: 'Playfair display';
  font-weight: 600;
  font-size: 40px;
  margin-left: 24px;
}


a {
  color: #59b17a;
  text-decoration: none;
  display: inline-block;
}

a:hover{
  color: #1f6482;
}

ul{
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 32px;
  margin: 0 8px;
}

.container {
  padding: 25px 0;
  width: 700px;
  margin:auto;
}

.card {

  margin:24px auto;
  padding: 16px 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  text-align: center;
  border-radius: 4px;
  background: white;
}

.img-circle {
  position: relative;
  width: 550px;
  height: 350px;
}

.list-inline {
  display: inline-block;
}

.fa-instagram{
  color: rgb(138, 58, 185);
}


.fa-facebook{
  color: rgb(59, 89, 152);
}

.fa-github{
  color: black;
}

#special{
  color:#060707;
  font-size: 24px;
}

#special:hover{
  color: #1f6482;
}

#text-left{
  text-align: left;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }

}


@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
  .img-circle {
    width: 300px;
    height: 175px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
  .img-circle {
    width: 125px;
    height: 90px;
  }
}
